global:
  namespace: maglo-qa
  image:
    registry: registry.digitalocean.com
    repository: makunai-console-dev
    pullPolicy: Always
  imagePullSecrets:
    - name: maglo-qa-secrets
  activeColor: blue

apps:
  - name: console-service
    namespace: maglo-qa
    ports:
      port: 8001
      targetPort: 8001
      grpcPort: 50051
      grpcNodePort: 31424
    app: console-service
    replicas: 2
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: console-service
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "500Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    envFrom: console-env-vars
    env: []
    command: []
    service:
      type: NodePort
    hpa:
      enabled: false
      minReplicas: 2
      maxReplicas: 5
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  - name: console-ui
    namespace: maglo-qa
    ports:
      port: 3000
      targetPort: 3000
    app: console-ui
    replicas: 1
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: console-ui
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "500Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    envFrom: console-env-vars
    env: []
    command: []
    service:
      type: ClusterIP
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 3
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  - name: maglo-service
    namespace: maglo-qa
    ports:
      port: 8002
      targetPort: 8002
    app: maglo-service
    replicas: 2
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: maglo-service
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "500Mi"
        cpu: "500m"
      limits:
        memory: "1000Mi"
        cpu: "1"
    envFrom: maglo-env-vars
    env: []
    command: []
    service:
      type: ClusterIP
    hpa:
      enabled: false
      minReplicas: 2
      maxReplicas: 5
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  - name: maglo-service-worker
    namespace: maglo-qa
    ports: []
    app: maglo-service-worker
    replicas: 1
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: maglo-service
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "250Mi"
        cpu: "100m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    envFrom: maglo-env-vars
    env: []
    command: ["poetry", "run", "celery", "-A", "src.maglo_celery.celery_app.celery", "worker", "--loglevel=debug", "--concurrency=4"]
    service: null
    hpa:
      enabled: false

  - name: maglo-service-beat
    namespace: maglo-qa
    ports: []
    app: maglo-service-beat
    replicas: 1
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: maglo-service
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "250Mi"
        cpu: "100m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    envFrom: maglo-env-vars
    env: []
    command: ["poetry", "run", "celery", "-A", "src.maglo_celery.celery_app.celery", "beat", "--loglevel=debug"]
    service: null
    hpa:
      enabled: false

  - name: maglo-ui
    namespace: maglo-qa
    ports:
      port: 3000
      targetPort: 3000
    app: maglo-ui
    replicas: 1
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: maglo-ui
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "1Gi"
        cpu: "500m"
      limits:
        memory: "2Gi"
        cpu: "1"
    envFrom: ""
    env: []
    command: []
    service:
      type: ClusterIP
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 3
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  - name: babbler-service
    namespace: maglo-qa
    ports:
      port: 8002
      targetPort: 8002
    app: babbler-service
    replicas: 1
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: babbler-service
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "500Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    envFrom: babbler-env-secret
    env: []
    command: []
    service:
      type: ClusterIP
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 3
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  - name: babbler-ui
    namespace: maglo-qa
    ports:
      port: 3000
      targetPort: 3000
    app: babbler-ui
    replicas: 1
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: babbler-ui
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "500Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    envFrom: ""
    env: []
    command: []
    service:
      type: ClusterIP
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 3
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  - name: holler-service
    namespace: maglo-qa
    ports:
      port: 8003
      targetPort: 8003
    app: holler-service
    replicas: 1
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
    imageName: holler-service
    tag: qalatest
    resources:
      enabled: true
      requests:
        memory: "500Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
    envFrom: holler-env-vars
    env: []
    command: []
    service:
      type: ClusterIP
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 3
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

ingress:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    nginx.ingress.kubernetes.io/proxy-buffer-size: 32k
    nginx.ingress.kubernetes.io/proxy-buffers-number: "8"
  rules:
    - host: qa-console-service.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: console-service
            port: 8000
        - path: /grpc
          pathType: Prefix
          backend:
            service: console-service
            port: 50051
    - host: qa-maglo-service.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: maglo-service
            port: 8000
    - host: qa-maglo-ui.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: maglo-ui
            port: 3000
    - host: qa-console-ui.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: console-ui
            port: 3000
    - host: qa-babbler-ui.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: babbler-ui
            port: 3000
    - host: qa-babbler-service.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: babbler-service
            port: 8002
    - host: qa-holler-service.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: holler-service
            port: 8003
    - host: qa-grafana.makunaiglobal.ai
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: grafana
            port: 3000
  tls:
    - hosts:
        - qa-console-service.makunaiglobal.ai
      secretName: tls-secret
    - hosts:
        - qa-maglo-service.makunaiglobal.ai
      secretName: tls-secret
    - hosts:
        - qa-maglo-ui.makunaiglobal.ai
      secretName: tls-secret
    - hosts:
        - qa-console-ui.makunaiglobal.ai
      secretName: tls-secret
    - hosts:
        - qa-babbler-ui.makunaiglobal.ai
      secretName: tls-secret
    - hosts:
        - qa-babbler-service.makunaiglobal.ai
      secretName: tls-secret
    - hosts:
        - qa-holler-service.makunaiglobal.ai
      secretName: tls-secret

rbac:
  enabled: true
  serviceAccountName: rbac-sa
  roleName: rbac-role
  roleBindingName: rbac-binding
  tokenSecretName: rbac-token
  group: qausers

